[submodule "sra-board-component"]
	path = sra-board-component
	url = https://github.com/SRA-VJTI/sra-board-component.git
[submodule "components/sra-board-component"]
	path = components/sra-board-component
	url = git@github.com:SRA-VJTI/sra-board-component.git
